// $imgpath:

#menu-toggle:checked + #menu {
  display: block;
}

.prueba {
  transform: translateY(50%);
}

.background-hero {
  background-image: url('https://1.bp.blogspot.com/-wWKsa2Dtizc/XzM5pmaT7_I/AAAAAAAAnPE/F8n_xJ9pETU7X6BfeJraw0auzjwHKYC7QCLcBGAsYHQ/d/programming7.jpg');
  // background-image: url('../static/retrato_hero.jpg');
  background-size: cover;
  // background-color: red;
}

// START Carousel

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}
.carousel-item {
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}
.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  color: #2b6cb0; /*Set to match the Tailwind colour you want the active one to be */
}

// END Carousel

// .portfolio-list {
//   list-style: none; /* Remove default bullets */
// }

// .portfolio-list li::before {
//   content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
//   // color: #f26c4f; /* Change the color */
//   color: white; /* Change the color */
//   font-weight: bold; /* If you want it to be bold */
//   display: inline-block; /* Needed to add space between the bullet and the text */
//   width: 1em; /* Also needed for space (tweak if needed) */
//   margin-left: -1em; /* Also needed for space (tweak if needed) */
// }

li {
  counter-increment: li;
}

.portfolio-list li::before {
  content: (' .' counter(li));
  color: #f26c4f;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}
