// $imgpath:

#menu-toggle:checked + #menu {
  display: block;
}

.prueba {
  transform: translateY(50%);
}

.background-hero {
  // background-image: url('https://envato-shoebox-0.imgix.net/dbff/f989-c558-43ca-ad39-0cd439e08cd2/IMG_5235.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1000&s=c87e8cc1aa5de4e7fed76f51e2a516fb');
  background-image: url('../static/retrato_hero.jpg');
  background-size: cover;
  // background-color: red;
}
