// $imgpath:

#menu-toggle:checked + #menu {
  display: block;
}

.prueba {
  transform: translateY(50%);
}

.background-hero {
  background-image: url('https://1.bp.blogspot.com/-wWKsa2Dtizc/XzM5pmaT7_I/AAAAAAAAnPE/F8n_xJ9pETU7X6BfeJraw0auzjwHKYC7QCLcBGAsYHQ/d/programming7.jpg');
  // background-image: url('../static/retrato_hero.jpg');
  background-size: cover;
  // background-color: red;
}
